body{
    font-family: 'Roboto', sans-serif;
 
}
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
.main-btn{
    background-color: var(--red-color);
    color: var(--yellow-color);
    font-size: 15px;
    padding: 10px 12px;
  
}
.main-btn:hover{
    background-color: var(--red-color) !important ;
    color: var(--yellow-color) !important;
   
}
.main-btn p{
    position: relative;
}
.main-title p::after{
    content: "";
    position: absolute;
    width: 120px;
    background-color: var(--green-color);
    height: 2px;
    bottom: -20px;
    left: 50%;
    translate: -50% 0%;

}
/* start home */
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: #fff;
    font-size: 25px;
    border: #fff;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* end home */
/* start features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color:var(--section-color) ;
}
.features .icon-holder .icon{
    color: var(--green-color);
}
.features h4{
    color: var(--yellow-color);
}
/* end features */


/* start pottifolio */
.portfolio
{
    background-color: var(--section-color);
}
.portfolio .imageb
{
    border: 5px solid #fff;
    cursor: pointer;
    overflow: hidden;
}
.portfolio .hov
{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 209, 204, 76%);
    transform: translateX(calc(-100% - 5px));
    -webkit-transform: translateX(calc(-100% - 5px));
    -moz-transform: translateX(calc(-100% - 5px));
    -ms-transform: translateX(calc(-100% - 5px));
    -o-transform: translateX(calc(-100% - 5px));
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.portfolio .imageb:hover .hov
{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.portfolio .projects .nav li button
{
    padding: 7px 10px !important;
    background-color: var(--red-color) !important;
    color: var(--yellow-color) !important;
    margin-right: 15px;
    
}
.portfolio .projects .more{
    background-color: var(--red-color);
    color: var(--yellow-color);
    font-size: 15px;
    padding: 10px 15px;
}
/* start pottifolio */
.about .about-text
{
    color: #A47F7F;
}
.about .row p
{
    color: #A47F7F;
}
/* End About */
/* start Blog */
.blog
{
    background-color: var(--section-color);
}
.blog .content-blog h6
{
    color: #7F7F7F;
}
/* End Blog */
/* start Contact */
.contact
{
    background-color: var(--yellow-color);
}
.contact h4
{
    font-weight: 500;
    color: #19283F;
}
.contact input
{
    border: 0 !important;
    outline: 0 !important;
    background-color: transparent !important;
}
.contact input:focus
{
outline: 0 !important;
border: 0 !important;
box-shadow: none !important;

}
.contact .bbottom
{
    border-bottom:1px solid #fff;
}
.contact .blog-link a
{
    color: var(--yellow-color);
    background-color: #19283f;
}
@media screen and (max-width:768px) {
    .contact
    {
        text-align: center;
    }
}

/* end Contact */
/* start Footer */
.footer
{
    background-color: var(--dark-color);
}
.footer p
{
    color: #8C949F;
}
.footer .info h5
{
    color: white;
}
.footer .grap
{
    color: var(--green-color);
}
.footer .bondi
{
    color: var(--yellow-color);
}
.footer .social span
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
    color: white;
}
.footer .social .fac 
{
    background-color: #1877F2;
}
.footer .social .tw 
{
    background-color: #1DA1F2;
}
.footer .social .lin 
{
    background-color: #0077B5;
}
.footer .social .you
{
    background-color: #FF0000;
}
.footer .social span i
{
    font-size: 16px;
}
@media screen and (max-width:768px) {
    .footer
    {
        text-align: center;
    }
    .footer .social
    {
        justify-content: center !important;
    }
}
/* end Footer */